{% load static %}
{% include 'adminn/includes/header.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href="{% url 'admin-home' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Clients</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                New Client
                            </div>

                            <div class="card-body">
                                <form method="POST" class="row">
                                    <div class="col-md-3">
                                      <label for="names" class="form-label">Names:</label>
                                      {{ form.names }}
                                    </div>

                                    <div class="col-md-3">
                                        <label for="phone" class="form-label">Phone Number:</label>
                                        {{ form.phone }}
                                    </div>

                                    <div class="col-md-3">
                                        <label for="email" class="form-label">Email:</label>
                                        {{ form.email }}
                                    </div>

                                    <div class="col-md-2">
                                        <label for="residence" class="form-label">Residence:</label>
                                        {{ form.residence }}
                                    </div>

                                    <div class="col-md-1">
                                        <label for="is_active" class="form-label">Is Active:</label><br>
                                        {{ form.is_active }}
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Add</button>
                                      </div>
                                </form>

                            </div>
                        </div>
                        
                        
                    </div>
                </main>
{% include 'adminn/includes/footer.html' %}