{% load static %}

{% if request.user.role == "ADMIN" %}
    {% include 'adminn/includes/header.html' %}
{% else %}
    {% include 'mcollector/includes/header.html' %}
{% endif %}

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <span>Locations</span>
                                        <span class="badge bg-warning text-dark">{{ locations }}</span>
                                    </div>
                            
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'locations' %}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <span>Residences</span>
                                        <span class="badge bg-info text-dark">{{ residences }}</span>
                                    </div>
                            
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'residence' %}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <span>Clients</span>
                                        <span class="badge bg-dark text-light">{{ clients }}</span>
                                    </div>
                            
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'clients' %}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-dark text-white mb-4">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <span>Money Collectors</span>
                                        <span class="badge bg-danger text-light">{{ users }}</span>
                                    </div>
                            
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'clients' %}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Upcoming Schedulre
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th>Week</th>
                                            <th>Day</th>
                                            <th>Driver</th>
                                            <th>Truck</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Location</th>
                                            <th>Week</th>
                                            <th>Day</th>
                                            <th>Driver</th>
                                            <th>Truck</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for schedule in shcedules %}
                                        <tr>
                                            <td>{{ schedule.location }}</td>
                                            <td>{{ schedule.week }} ({{ schedule.get_week_dates }})</td>
                                            <td>{{ schedule.day }}</td>
                                            <td>{{ schedule.driver }}</td>
                                            <td>{{ schedule.plate }}</td>
                                            <td>{%  if schedule.status %} 
                                                    <i class="fa fa-check-square text-success"></i> Complite &nbsp; &nbsp;
                                                {% else %}
                                                    <i class="fa fa-exclamation-circle text-warning"></i> Incomplite &nbsp; &nbsp;
                                                {% endif %}
                                                {% if request.user.role == "ADMIN" %}
                                                    <a href="{% url 'change-schedule' schedule.id %}"><i class="fa fa-arrow-right"></i> Change </a>
                                                {% endif %}
                                            </td>
                                            <td>{{ schedule.created_at | timesince  }}</td>
                                            {%  if not schedule.status and request.user.role == "ADMIN" %}
                                                <td>
                                                    &nbsp; &nbsp; &nbsp;<a href="{% url 'edit-schedule' schedule.id %}"><i class="fa fa-pen"></i></a>
                                                </td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Last Collections
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Schedule</th>
                                            <th>Client</th>
                                            <th>Approved by</th>
                                            <th>Status</th>
                                            <th>Created</th>
                                            <th>Invoice</th>
                                      </tr>
                                    </thead>
                                    <tfoot>
                                      <tr>
                                          <th>Schedule</th>
                                          <th>Client</th>
                                          <th>Approved by</th>
                                          <th>Status</th>
                                          <th>Created</th>
                                          <th>Invoice</th>
                                      </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for collection in collections %}
                                        <tr>
                                            <td>{{ collection.schedule }}</td>
                                            <td>{{ collection.client }}</td>
                                            <td>{{ collection.approved_by }}</td>
                                            <td>{{ collection.created_at | timesince  }}</td>
                                            {%  if collection.status %}
                                                  <td class="text-success"><i class="fas fa-check-square text-success"></i> Complite &nbsp; &nbsp;<a href="{% url 'change-collection' collection.id %}"><i class="fa fa-arrow-right"></i> Change </a></td>
                                                  <td> <a href="{% url 'invoice' collection.id %}"><i class="fas fa-print"></i> Invoice </a></td>
                                              {% else %}
                                                  <td class="text-warning"><i class="fas fa-exclamation-circle text-warning" ></i> Incomplite &nbsp; &nbsp;<a href="{% url 'change-collection' collection.id %}"><i class="fa fa-arrow-right"></i> Change </a></td>
                                              {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </main>
{% include 'adminn/includes/footer.html' %}